// colours
$secondary: #fff;
$pink: #ffefef;
$roseRed: #bb1515;
$lightGreyb: #f2f2f2;
$lightGrey: #fafafa;
$skyBlue: #9cc2d7;
$darkGrey: #5f5f5f;
$black: #000000;
$darkerGrey: #333333;
$nileBlue: #1c4155;

$bold: 700;
$vertPadding: 60px;
$borderRadiusSize: 10px;
$gap: 20px;

// placeholders
%curvedEdges {
  border-top-left-radius: $borderRadiusSize;
  border-top-right-radius: $borderRadiusSize;
  border-bottom-left-radius: $borderRadiusSize;
  border-bottom-right-radius: $borderRadiusSize;
}
